In [78]:
import helpers.process as process
from helpers import io as pickle_io
from gensim.models import ldamodel
from gensim.models import CoherenceModel
#import pyLDAvis
import tqdm
from helpers import potus
import gc
import logging
import numpy as np
import pandas as pd
import glob

In [82]:
root_exp = potus.rootFolder()
lda_log_fn = root_exp + '/lda_eval_log.pkl'
exp_log  = pd.DataFrame(pickle_io.from_pickle(lda_log_fn))
display(exp_log)

File exists and is readable

,experiment,num_topics,iterations,passes,topic_coherence_mean,topic_coherence_25th,topic_coherence_50th,topic_coherence_75th,topic_diversity
0,potus_30t_100_4,30,100,4,-1.214582,-1.342681,-0.984979,-0.716017,0.665000
1,potus_30t_100_6,30,100,6,-1.246010,-1.376964,-0.924127,-0.720582,0.671667
2,potus_30t_100_8,30,100,8,-1.233930,-1.289336,-0.951628,-0.721321,0.678333
3,potus_30t_100_10,30,100,10,-1.227850,-1.254647,-0.953017,-0.723243,0.680000
4,potus_30t_100_12,30,100,12,-1.233068,-1.253535,-0.959263,-0.745543,0.681667
...,...,...,...,...,...,...,...,...,...
388,potus_90t_200_4,90,200,4,-1.600057,-1.732316,-1.155659,-0.815800,0.571111
389,potus_80t_200_4,80,200,4,-1.570061,-1.520296,-1.096110,-0.726924,0.560000
390,potus_70t_200_4,70,200,4,-1.619809,-1.670718,-1.162171,-0.711840,0.582143
391,potus_60t_200_4,60,200,4,-1.743299,-1.949310,-1.055998,-0.784521,0.623333
392,potus_50t_200_4,50,200,4,-1.562483,-1.687934,-1.136703,-0.808383,0.669000

In [45]:
for exp in exp_log.experiment: 
    list_results = glob.glob(f'{root_exp}/{exp}/speeches_dfr_*', recursive=True)
    df_results = pd.DataFrame({'experiment': exp, 'results': list_results})
    display(df_results)

Empty DataFrame
Columns: [experiment, results]
Index: []

Empty DataFrame
Columns: [experiment, results]
Index: []

Empty DataFrame
Columns: [experiment, results]
Index: []

Empty DataFrame
Columns: [experiment, results]
Index: []

Empty DataFrame
Columns: [experiment, results]
Index: []

Empty DataFrame
Columns: [experiment, results]
Index: []

Empty DataFrame
Columns: [experiment, results]
Index: []

Empty DataFrame
Columns: [experiment, results]
Index: []

Empty DataFrame
Columns: [experiment, results]
Index: []

Empty DataFrame
Columns: [experiment, results]
Index: []

Empty DataFrame
Columns: [experiment, results]
Index: []

Empty DataFrame
Columns: [experiment, results]
Index: []

Empty DataFrame
Columns: [experiment, results]
Index: []

Empty DataFrame
Columns: [experiment, results]
Index: []

Empty DataFrame
Columns: [experiment, results]
Index: []

Empty DataFrame
Columns: [experiment, results]
Index: []

Empty DataFrame
Columns: [experiment, results]
Index: []

Empty DataFrame
Columns: [experiment, results]
Index: []

Empty DataFrame
Columns: [experiment, results]
Index: []

Empty DataFrame
Columns: [experiment, results]
Index: []

Empty DataFrame
Columns: [experiment, results]
Index: []

Empty DataFrame
Columns: [experiment, results]
Index: []

Empty DataFrame
Columns: [experiment, results]
Index: []

In [28]:
help(exp_log.join)

Help on method join in module pandas.core.frame:

join(other, on=None, how='left', lsuffix='', rsuffix='', sort=False) -> 'DataFrame' method of pandas.core.frame.DataFrame instance
    Join columns of another DataFrame.

    Join columns with `other` DataFrame either on index or on a key
    column. Efficiently join multiple DataFrame objects by index at once by
    passing a list.

    Parameters
    ----------
    other : DataFrame, Series, or list of DataFrame
        Index should be similar to one of the columns in this one. If a
        Series is passed, its name attribute must be set, and that will be
        used as the column name in the resulting joined DataFrame.
    on : str, list of str, or array-like, optional
        Column or index level name(s) in the caller to join on the index
        in `other`, otherwise joins index-on-index. If multiple
        values given, the `other` DataFrame must have a MultiIndex. Can
        pass an array as the join key if it is not already contained in
        the calling DataFrame. Like an Excel VLOOKUP operation.
    how : {'left', 'right', 'outer', 'inner'}, default 'left'
        How to handle the operation of the two objects.

        * left: use calling frame's index (or column if on is specified)
        * right: use `other`'s index.
        * outer: form union of calling frame's index (or column if on is
          specified) with `other`'s index, and sort it.
          lexicographically.
        * inner: form intersection of calling frame's index (or column if
          on is specified) with `other`'s index, preserving the order
          of the calling's one.
    lsuffix : str, default ''
        Suffix to use from left frame's overlapping columns.
    rsuffix : str, default ''
        Suffix to use from right frame's overlapping columns.
    sort : bool, default False
        Order result DataFrame lexicographically by the join key. If False,
        the order of the join key depends on the join type (how keyword).

    Returns
    -------
    DataFrame
        A dataframe containing columns from both the caller and `other`.

    See Also
    --------
    DataFrame.merge : For column(s)-on-columns(s) operations.

    Notes
    -----
    Parameters `on`, `lsuffix`, and `rsuffix` are not supported when
    passing a list of `DataFrame` objects.

    Support for specifying index levels as the `on` parameter was added
    in version 0.23.0.

    Examples
    --------
    >>> df = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3', 'K4', 'K5'],
    ...                    'A': ['A0', 'A1', 'A2', 'A3', 'A4', 'A5']})

    >>> df
      key   A
    0  K0  A0
    1  K1  A1
    2  K2  A2
    3  K3  A3
    4  K4  A4
    5  K5  A5

    >>> other = pd.DataFrame({'key': ['K0', 'K1', 'K2'],
    ...                       'B': ['B0', 'B1', 'B2']})

    >>> other
      key   B
    0  K0  B0
    1  K1  B1
    2  K2  B2

    Join DataFrames using their indexes.

    >>> df.join(other, lsuffix='_caller', rsuffix='_other')
      key_caller   A key_other    B
    0         K0  A0        K0   B0
    1         K1  A1        K1   B1
    2         K2  A2        K2   B2
    3         K3  A3       NaN  NaN
    4         K4  A4       NaN  NaN
    5         K5  A5       NaN  NaN

    If we want to join using the key columns, we need to set key to be
    the index in both `df` and `other`. The joined DataFrame will have
    key as its index.

    >>> df.set_index('key').join(other.set_index('key'))
          A    B
    key
    K0   A0   B0
    K1   A1   B1
    K2   A2   B2
    K3   A3  NaN
    K4   A4  NaN
    K5   A5  NaN

    Another option to join using the key columns is to use the `on`
    parameter. DataFrame.join always uses `other`'s index but we can use
    any column in `df`. This method preserves the original DataFrame's
    index in the result.

    >>> df.join(other.set_index('key'), on='key')
      key   A    B
    0  K0  A0   B0
    1  K1  A1   B1
    2  K2  A2   B2
    3  K3  A3  NaN
    4  K4  A4  NaN
    5  K5  A5  NaN

In [31]:
exp_log.head()

,experiment,num_topics,iterations,passes,topic_coherence_mean,topic_coherence_25th,topic_coherence_50th,topic_coherence_75th,topic_diversity,experimentr,results,experimentr,resultsr,experimentr,resultsr
0,potus_50t,50,200,8,-1.359489,-1.635543,-1.084842,-0.801478,0.675000,potus_50t,/home/azureuser/cloudfiles/code/data/processin...,potus_100t,/home/azureuser/cloudfiles/code/data/processin...,potus_120t,/home/azureuser/cloudfiles/code/data/processin...
1,potus_100t,100,200,8,-1.543472,-1.710769,-1.138840,-0.807166,0.549000,potus_50t,/home/azureuser/cloudfiles/code/data/processin...,potus_100t,/home/azureuser/cloudfiles/code/data/processin...,potus_120t,/home/azureuser/cloudfiles/code/data/processin...
2,potus_120t,120,200,8,-1.470444,-1.710672,-1.133440,-0.841443,0.520833,potus_50t,/home/azureuser/cloudfiles/code/data/processin...,potus_100t,/home/azureuser/cloudfiles/code/data/processin...,potus_120t,/home/azureuser/cloudfiles/code/data/processin...

In [32]:
exp_log.results

0    /home/azureuser/cloudfiles/code/data/processin...
1    /home/azureuser/cloudfiles/code/data/processin...
2    /home/azureuser/cloudfiles/code/data/processin...
Name: results, dtype: object